---
import ExperienceItem from './ExperienceItem.astro';
---

<section>
  <h2>Education</h2>

  <ExperienceItem
    title="Bachelor of Science in Computer Science"
    company="Towson University, Towson, Maryland"
    startDate="2013"
    endDate="2015"
    location="Towson, MD"
  />
</section>
