<section>
  <h2>Education</h2>
  <div class="experience-item">
    <div class="experience-header">
      <div>
        <h3 class="experience-title">
          Bachelor of Science in Computer Science
        </h3>
        <div class="experience-company">
          Towson University, Towson, Maryland
        </div>
      </div>
      <div class="experience-dates">
        <span class="experience-date">2013 - 2015</span>
      </div>
    </div>
  </div>
</section>
