---
import ExperienceItem from '../components/ExperienceItem.astro';
---

<section>
  <h2>Work History</h2>

  <ExperienceItem
    title="Sr Software Engineer"
    company="Sharecare"
    startDate="2021"
    endDate="Present"
    location="Remote"
    responsibilities={[
      'Work on a dedicated team responsible for enhancing and maintaining the Sharecare platform',
      'Pioneer AI-driven development practices to accelerate delivery of member-facing features, including automated API generation and rapid prototyping of UI components',
      'Triage/fix production issues using JIRA for tracking',
      'Hands on development with HTML, CSS, JavaScript, LWC, APEX, Node.js and JAVA',
    ]}
  />

  <ExperienceItem
    title="Self-employed"
    company="Tigerface Systems"
    startDate="2019"
    endDate="Present"
    location="Remote"
    responsibilities={[
      'Partnered in development and market launch of two Salesforce AppExchange products',
      "Utilized HTML, CSS, JavaScript expertise to build Lightning Web Components & APEX REST API's",
      'Designed and developed the company website along with all marketing materials',
    ]}
  />

  <ExperienceItem
    title="UI Developer"
    company="CareFirst BlueCross BlueShield"
    startDate="2015"
    endDate="2021"
    location="Hybrid | Maryland"
    responsibilities={[
      'Developed with HTML, CSS, and JavaScript (Angular) on Member facing applications',
      'Developed and maintained the corporate style guide website and components',
      "Developed REST API's with JAVA for Member facing applications",
    ]}
  />
</section>
